.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-card {
  width: 20rem;
  height: 12rem;
  border: 2px dotted #bebebe;
  background-color: #dcdcdc;
}

.card-img {
  width: 50px;
  float: right;
}

.card-text {
  font-size: 1.8rem;
  text-align: center;
}
